# THIS CAN BE REMOVED IN FAVOR OF PRONOB ANALYSIS

In [1]:
import pandas as pd
from rich.progress import track
import spacy

In [2]:
df = pd.read_csv('../data/version3.csv')
df.sample(1)

/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (20,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Case Number,Date of Incident,Date of Death,Age,Gender,Race,Latino,Manner of Death,Primary Cause,Primary Cause Line A,...,location,Residence City,Residence_Zip,OBJECTID,cleaned_address,full_address,coded_lat,coded_long,coded_score,distance
38202,ME2020-08575,07/03/2020 08:00:00 PM,07/03/2020 08:04:00 PM,71.0,Male,White,False,NATURAL,HYPERTENSIVE CARDIOVASCULAR DISEASE,NaN,...,NaN,Lyons,60534.0,115035,7731 Odgen Ave,7731 Odgen Ave Lyons 60534,41.819732,-87.814883,94.61,NaN

In [3]:
nlp = spacy.load('en_ner_bc5cdr_md')

In [8]:
from collections import Counter

words = []
for cause in track(df['Primary Cause'].values):
    if pd.notna(cause):
        doc = nlp(cause)
        for ent in doc.ents:
            if ent.label_ == 'CHEMICAL':
                words.append(ent.text)

Counter(words).most_common(10)

Output()

[('ALPRAZOLAM', 843),
 ('HYDROCODONE', 351),
 ('HIP', 218),
 ('HYPERTENSIVE-ARTERIOSCLEROTIC', 168),
 ('NO', 161),
 ('GABAPENTIN', 138),
 ('DESPROPIONYL', 120),
 ('FLUALPRAZOLAM', 102),
 ('CYCLOPROPYL', 100),
 ('ALCOHOL', 84)]

In [9]:
len(set(words))

313