In [2]:
import geopandas as gpd

In [3]:
gdf = gpd.read_file('../data/LANDUSE_SHAPES/land_use.shp')
gdf.head()

,FIRST_COUN,LANDUSE,LANDUSE2,OS_MGMT,FAC_NAME,PLATTED,MODIFIER,Shape_Leng,Shape_Area,landuse_id,name,sub_cat,major_cat,sub_name,major_name,geometry
0,031,1111,None,None,None,None,None,517.742137,16718.995065,1111,Single-Family Detached,1100,1000,Residential,Urbanized,"POLYGON ((1036522.695 1995782.274, 1036461.926..."
1,031,1111,None,None,None,None,None,477.507596,11320.358746,1111,Single-Family Detached,1100,1000,Residential,Urbanized,"POLYGON ((1037360.709 1996030.646, 1037322.681..."
2,031,1111,None,None,None,None,None,484.025949,9845.643361,1111,Single-Family Detached,1100,1000,Residential,Urbanized,"POLYGON ((1039486.887 1996321.765, 1039296.636..."
3,031,1111,None,None,None,None,None,700.439764,17077.187161,1111,Single-Family Detached,1100,1000,Residential,Urbanized,"POLYGON ((1038894.877 1996455.435, 1038726.152..."
4,031,1111,None,None,None,None,None,340.958375,4876.261817,1111,Single-Family Detached,1100,1000,Residential,Urbanized,"POLYGON ((1038232.967 1996733.236, 1038099.139..."