In [1]:
import pandas as pd

In [3]:
centers = pd.read_json("../../data/secure/geocoded_medical_centers.jsonl", lines=True, orient="records")
print(centers.shape)
centers

(63, 5)

,name,address,geocoded_latitude,geocoded_longitude,geocoded_score
0,Center for Care and Discovery (CCD) - Hyde Park,"5700 S Maryland Ave, Chicago, Illinois, 60637",41.791224,-87.604609,NaN
1,Mitchell Hospital - Hyde Park,"5815 S Maryland Ave, Chicago, Illinois, 60637",41.789027,-87.604573,NaN
2,Adult Emergency Room - Hyde Park,"5656 S Maryland Ave, Chicago, Illinois, 60637",41.791541,-87.605283,NaN
3,Family Birth Center - Hyde Park,"5721 S Maryland Ave, Chicago, Illinois, 60637",41.790537,-87.604573,NaN
4,Comer Children's at AdventHealth - Hinsdale,"120 N Oak St, Hinsdale, Illinois, 60521",41.805609,-87.921249,NaN
...,...,...,...,...,...
58,Professional Building,"1950 W Polk St, Chicago, Illinois, 60612",41.871534,-87.675330,NaN
59,Robbins Health Center,"13450 S Kedzie Ave, Robbins, Illinois, 60472",41.648676,-87.699623,NaN
60,Ruth M. Rothstein CORE Center,"2020 W Harrison St, Chicago, Illinois, 60612",41.874557,-87.677123,NaN
61,Specialty Care Center,"1901 W Harrison St, Chicago, Illinois, 60612",41.873452,-87.674149,NaN
62,Cermak Health Services of Cook County,"2800 S California Ave, Chicago, Illinois, 60608",41.723974,-87.692431,NaN

In [26]:
df = pd.read_csv("../../data/records_with_spatial_data.csv", low_memory=False)
print(df.shape)
df.head()

(70226, 293)

,4-fibf_1,AFFGEOID,ALAND_left,ALAND_right,AWATER_left,AWATER_right,COUNTYFP_left,COUNTYFP_right,COUSUBFP,COUSUBNS,...,death_time,death_year,death_month,death_day,death_week,death_day_of_week,hotel,hot,cold,repeated_lat_long
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22:52:00,2020.0,5.0,15.0,20.0,Friday,0,1,1,0
1,NaN,0600000US1703114000,582989656.0,331289.0,17565657.0,1429583.0,31.0,31.0,14000.0,428803.0,...,13:50:00,2014.0,9.0,21.0,38.0,Sunday,0,1,1,0
2,NaN,0600000US1703106561,120177532.0,2307523.0,628793.0,0.0,31.0,31.0,6561.0,428682.0,...,16:55:00,2014.0,9.0,22.0,39.0,Monday,0,1,1,0
3,NaN,0600000US1703145447,94160608.0,21881464.0,1461622.0,882493.0,31.0,31.0,45447.0,429298.0,...,17:10:00,2014.0,9.0,27.0,39.0,Saturday,0,1,1,0
4,NaN,0600000US1703114000,582989656.0,215116.0,17565657.0,0.0,31.0,31.0,14000.0,428803.0,...,14:15:00,2014.0,10.0,2.0,40.0,Thursday,0,1,1,0

In [5]:
center_points = centers.loc[:, ['geocoded_latitude', 'geocoded_longitude']].astype(float).to_numpy()
center_points[:5]

array([[ 41.79122401, -87.60460902],
       [ 41.78902698, -87.60457298],
       [ 41.79154101, -87.60528301],
       [ 41.79053698, -87.60457298],
       [ 41.80560899, -87.92124899]])

In [6]:
df_points = df.loc[:, ['composite_latitude', 'composite_longitude']].astype(float).to_numpy()
df_points[:5]

array([[ 41.97857073, -87.88024966],
       [ 41.88947682, -87.61545112],
       [ 41.50733584, -87.62322044],
       [ 41.77362004, -87.84976597],
       [ 41.75286378, -87.6432531 ]])

In [7]:
all(len(p) == 2 for p in center_points)
all(len(p) == 2 for p in df_points)

True

In [20]:
df_points[0][1].round(15)

-87.88024965766617

In [25]:
# check if any center points in df points
for rounder in range(14, -1, -1):
    round_matches = 0
    for cp in center_points:
        cp0 = cp[0].round(rounder)
        cp1 = cp[1].round(rounder)
        for dp in df_points:
            if cp0 == dp[0].round(rounder) and cp1 == dp[1].round(rounder):
                round_matches += 1
    print(f"Round {rounder}: {round_matches} matches")

Round 14: 0 matches
Round 13: 0 matches
Round 12: 0 matches
Round 11: 0 matches
Round 10: 0 matches
Round 9: 0 matches
Round 8: 0 matches
Round 7: 0 matches
Round 6: 0 matches
Round 5: 0 matches
Round 4: 7 matches
Round 3: 85 matches
Round 2: 2717 matches
Round 1: 193522 matches
Round 0: 3757567 matches

Initial lat/long had 8 decimals...

We had ZERO matches when comparing at 8, 7, 6, and 5 decimal places (rounded).

We get 7 matches when rounding to 4 decimals places.

7 out of number of records X number of med centers

We get a lot when rounding to 3 decimals...

In [ ]:
# could geocode the death addresses and see if they match any of the medical centers
# using same lat/long precision methods as above
# we should find some matches (more than above)

# use fat_url from geocode module form opendata-pipeline work

In [ ]:
# modularize this to a fun script that prints or plots thresholds :)