In [46]:
import pandas as pd
import plotly.express as px
import plotly.io as pio

pio.renderers.default = "notebook_connected"
pio.templates.default = "ggplot2"

In [11]:
df = pd.read_csv("../../data/records_with_spatial_data.csv", low_memory=False)
print(df.shape)
df.head()

(70226, 293)

,4-fibf_1,AFFGEOID,ALAND_left,ALAND_right,AWATER_left,AWATER_right,COUNTYFP_left,COUNTYFP_right,COUSUBFP,COUSUBNS,...,death_time,death_year,death_month,death_day,death_week,death_day_of_week,hotel,hot,cold,repeated_lat_long
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22:52:00,2020.0,5.0,15.0,20.0,Friday,0,1,1,0
1,NaN,0600000US1703114000,582989656.0,331289.0,17565657.0,1429583.0,31.0,31.0,14000.0,428803.0,...,13:50:00,2014.0,9.0,21.0,38.0,Sunday,0,1,1,0
2,NaN,0600000US1703106561,120177532.0,2307523.0,628793.0,0.0,31.0,31.0,6561.0,428682.0,...,16:55:00,2014.0,9.0,22.0,39.0,Monday,0,1,1,0
3,NaN,0600000US1703145447,94160608.0,21881464.0,1461622.0,882493.0,31.0,31.0,45447.0,429298.0,...,17:10:00,2014.0,9.0,27.0,39.0,Saturday,0,1,1,0
4,NaN,0600000US1703114000,582989656.0,215116.0,17565657.0,0.0,31.0,31.0,14000.0,428803.0,...,14:15:00,2014.0,10.0,2.0,40.0,Thursday,0,1,1,0

In [26]:
df['xylazine'] = df.apply(lambda row: add(row, 'xylazine_1', 'xylazine_2'), axis=1)
df['fentanyl'] = df.apply(lambda row: add(row, 'fentanyl_1', 'fentanyl_2'), axis=1)

df['death_date'] = pd.to_datetime(df['death_date'])
df.head()

,4-fibf_1,AFFGEOID,ALAND_left,ALAND_right,AWATER_left,AWATER_right,COUNTYFP_left,COUNTYFP_right,COUSUBFP,COUSUBNS,...,death_month,death_day,death_week,death_day_of_week,hotel,hot,cold,repeated_lat_long,xylazine,fentanyl
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,15.0,20.0,Friday,0,1,1,0,NaN,NaN
1,NaN,0600000US1703114000,582989656.0,331289.0,17565657.0,1429583.0,31.0,31.0,14000.0,428803.0,...,9.0,21.0,38.0,Sunday,0,1,1,0,NaN,NaN
2,NaN,0600000US1703106561,120177532.0,2307523.0,628793.0,0.0,31.0,31.0,6561.0,428682.0,...,9.0,22.0,39.0,Monday,0,1,1,0,NaN,NaN
3,NaN,0600000US1703145447,94160608.0,21881464.0,1461622.0,882493.0,31.0,31.0,45447.0,429298.0,...,9.0,27.0,39.0,Saturday,0,1,1,0,NaN,NaN
4,NaN,0600000US1703114000,582989656.0,215116.0,17565657.0,0.0,31.0,31.0,14000.0,428803.0,...,10.0,2.0,40.0,Thursday,0,1,1,0,NaN,NaN

In [61]:
groups = df.set_index('death_date').groupby(pd.Grouper(freq='M'))[['xylazine', 'fentanyl']].count()
groups.reset_index(inplace=True)
modern = groups[groups['death_date'] > '2014-01-01']
modern.head()

   death_date  xylazine  fentanyl
64 2014-01-31         0         0
65 2014-02-28         0         0
66 2014-03-31         0         0
67 2014-04-30         0         0
68 2014-05-31         0         0

In [66]:
px.data.stocks(indexed=True)

company         GOOG      AAPL      AMZN        FB      NFLX      MSFT
date
2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708
...              ...       ...       ...       ...       ...       ...
2019-12-02  1.216280  1.546914  1.425061  1.075997  1.463641  1.720717
2019-12-09  1.222821  1.572286  1.432660  1.038855  1.421496  1.752239
2019-12-16  1.224418  1.596800  1.453455  1.104094  1.604362  1.784896
2019-12-23  1.226504  1.656000  1.521226  1.113728  1.567170  1.802472
2019-12-30  1.213014  1.678000  1.503360  1.098475  1.540883  1.788185

[105 rows x 6 columns]

In [80]:
px.line(
    modern,
    x="death_date",
    y=["xylazine", "fentanyl"],
    title="Xylazine and Fentanyl Deaths in Cook County, IL monthly",
    labels={
        "value": "Number of Deaths",
        "variable": "Drug",
        "death_date": "Date (Month)",
    },
).add_vline(x="2019-01-01", line_color="blue", opacity=0.50, line_width=3, line_dash="dash"
).add_vline(x="2022-06-30", line_color="blue", opacity=0.50, line_width=3, line_dash="dash"
).add_vrect(
    x0="2019-01-01",
    x1="2022-06-30",
    fillcolor="lightblue",
    opacity=0.25,
    layer="below",
    annotation_text="Study Period",
    annotation_position="top left",
)

In [10]:
# prior filters
df = df[
    (df["death_date"] < pd.to_datetime("07-01-2022"))
    & (df["death_date"] >= pd.to_datetime("01-01-2019"))
].copy()
df = df[df["COUNTYFP_right"].notna()].copy()
df.shape

(35628, 295)